* {
    box-sizing: border-box;
}

body {
     /* Kleuren */
     --lightgreen: #4e7141;
     --beige: #f9e9c2;
     --orange: #ff8d06;
     --brown: #491b02;
     --darkgreen: #3c593e;

     --text-off-white: #f7f7f7;
     --text-darkgreen: #2C402D;
     --error-red: #ff0000;

     --button-active: #ff8d06;
     --button-hover: #ff8d06;

     /* Fonts */
     --font-header: "Poppins-Black", sans-serif;
     --font-sub-header: 'Poppins-Bold', sans-serif;
     --font-paragraph: 'Poppins-Medium', sans-serif;
     --font-link: 'Poppins-Regular', sans-serif;
}


/* Fonts importeren */
@font-face {
    font-family: 'Poppins-Black';
    src: url(./fonts/Poppins-Black.ttf) format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./fonts/Poppins-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins-Regular';
     src: url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
     font-style: normal;
     font-weight: 400;
    
}

/* heading elementen */
h1 {
    font-size: clamp(2.1875rem, 1.9669rem + 1.1765vw, 3.4375rem);
    line-height: 1.5em;
    font-family: var(--font-header);
}

h2 {
   font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
    line-height: 1.5em;
    font-family: var(--font-sub-header);
}

h3 {
    font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
    font-weight: 800;
    line-height: 1.5em;
    font-family: var(--font-header);
}

h4 {
    font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
    font-weight: 800;
    line-height: 1.5em;
    font-family: var(--font-header);
}

h5 {
    font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
    font-weight: 800;
    line-height: 1.5em;
    font-family: var(--font-header);
}

h6 {
    font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
    font-weight: 800;
    line-height: 1.5em;
    font-family: var(--font-header);
}



/* KLEUR */
/* main colors */
.main-color-green{
  background-color: #4e7141;
}

.main-color-beige{
  background-color: #f9e9c2;
}

.main-color-orange{
  background-color: #ff8d06;
}

.main-color-brown{
  background-color: #491b02;
  color: #f9e9c2;
}
/* extra colors */
.darkgreen{
  background-color: #3c593e;
}

.text-off-white{
  background-color: #f7f7f7;
}

.text-darkgreen{
  background-color: #2C402D;
  color: #f9e9c2;
}

.darkgreen{
 background-color: #3c593e;
}

.error-red{
  background-color: #ff0000;
}
/* button colors */
.button-active-orange{
  background-color: #ff8d06;
}

.button-hover-orange{
  background-color: #ff8d06;
}




button{
  margin-top: 1rem;
  background-color: #4e7141;
  color: #f9e9c2;
  width: 8rem;
  height: 2.5rem;
  border-radius: 4rem;
  border: none;
}

img{
  width: 25%;
}


/* Formulier elementen */