* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* Kleuren */

  /* beige */
  --primary-background-color: #f9e9c2;
  /* light green */
  --secondary-background-color: #4e7141;
  /* darkgreen */
  --third-background-color: #3c593e;
  /* orange */
  --primary-highlight-color: #ff8d06;
  /* brown */
  --secondary-highlight-color: #491b02;


  /* text-off-white */
  --primary-text-color: #fefefe;
  /* text-darkgreen */
  --secondary-text-color: #2C402D;
  /* red */
  --error-color: #ff0000;

  /* button orange */
  --button-active: #ff8d06;
  /* button orange hover */
  --button-hover: #ff8d06;

  /* Fonts */
  --font-header: "Poppins-Black", sans-serif;
  --font-sub-header: 'Poppins-Bold', sans-serif;
  --font-paragraph: 'Poppins-Regular', sans-serif;
  --font-link: 'Poppins-Regular', sans-serif;

  /* Decoration */
  --rounded: 2em;
  /* Gebruiken voor ronde vormen */
  --image-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  /* Gebruiken voor schaduw gradient over image heen */
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-highlight-color);
}

/* @font-face (typografie) */
@font-face {
  font-family: 'Poppins-Black';
  src: url(./fonts/Poppins-Black.ttf) format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./fonts/Poppins-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;

}

/* Kleuren */
.kleur-beschrijving p {
  margin: 0;
  color: rgb(173, 173, 173);
  font-size: 0.9em;
}

figcaption p:first-of-type {
  color: var(--secondary-text-color);
  font-weight: bold;
}

#kleur h2 {
  padding: 1em 0em 0em 0em;
}

.color1 {
  background-color: var(--secondary-background-color);
}

.color2 {
  background-color: var(--primary-background-color);
}

.color3 {
  background-color: var(--primary-highlight-color);
}

.color4 {
  background-color: var(--secondary-highlight-color);
}

.color5 {
  background-color: var(--third-background-color);
}

.color6 {
  background-color: var(--primary-text-color);
  border: 1px solid rgb(205, 205, 205);
}

.color7 {
  background-color: var(--secondary-text-color);
}

.color8 {
  background-color: var(--error-color);
}

/* Heading elements */
h1,
h2,
h3,
h4,
h5,
H6 {
  font-family: var(--font-header);
  color: var(--secondary-text-color);
  margin: 0.5em 0em;
  padding: 0;
}

h1 {
  font-size: clamp(2.1875rem, 1.9022rem + 1.3043vw, 2.725rem);
  line-height: 115%;
}

h2 {
  font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
  line-height: 110%;
}

h3 {
  font-size: clamp(1.5625rem, 1.3971rem + 0.8824vw, 2.5rem);
  line-height: 115%;
}

h4 {
  font-size: clamp(1.25rem, 1.0846rem + 0.8824vw, 2.1875rem);
  line-height: 118%;
}

h5 {
  font-size: clamp(1.125rem, 0.9926rem + 0.7059vw, 1.875rem);
  line-height: 118%;
}

h6 {
  font-size: clamp(1rem, 0.9007rem + 0.5294vw, 1.5625rem);
  line-height: 118%;
}

/* Paragraph text element */
p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 180%;
  font-family: var(--font-paragraph);
}

/* List elements */
ul {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 140%;
  font-family: var(--font-paragraph);
}

ol {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 140%;
  font-family: var(--font-paragraph);
}


/* Formulier elementen */
form {
  display: grid;
  gap: 1em;
  background-color: var(--primary-background-color);
  padding: 2em;
  border-radius: var(--rounded);

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-bottom: 45px;
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

label {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 150%;
  font-family: var(--font-paragraph);
  display: block;
}

input {
  background-color: var(--primary-text-color);
  border: none;
  border-radius: var(--rounded);
  padding: .8em 1em;
  width: 100%;
  color: var(--third-background-color);
  margin-top: .5em;

  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);

}

/* Verzenden knop formulier */
input[type="submit"] {
  background-color: var(--secondary-background-color);
  color: white;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  padding: 0.7em 1.4em;
  border: none;
  border-radius: var(--rounded);
  cursor: pointer;
  width: 60%;
  transition: transform .2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--primary-highlight-color);
  transition: transform .2s ease-in-out;
  transform: scale(1.05);
}

/* Styling fieldset */
fieldset {
  border: none;
  padding: 0;
}

fieldset input {
  accent-color: var(--third-background-color);
  width: 1.2em;
  height: 1.2em;
  margin: 0em 0.6em;
  width: 5%;
}

input:user-invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}

fieldset label {
  align-items: center;
  display: flex;
}

legend {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);
  display: block;
  margin-bottom: 0.8em;
}

.req {
  color: var(--error-color);
}

/* Knoppen */
#knoppen {
  padding: 3em 0em 3em 0em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#knoppen p {
  margin: -0.9em 0em 1em 0em;
}

/* Knoppen in alle kleuren */

/* Linkje */
a {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-link);
  color: var(--third-background-color);
  transition: transform ease-in-out .2s;
}

a:hover {
  color: #ff8d06;
  transition: ease-in-out .2s;
}

/* Knop oranje */
a.btn-oranje {
  align-self: baseline;
  background-color: var(--primary-highlight-color);
  color: var(--primary-background-color);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-oranje img {
  align-items: center;
  width: 0.9em;
}

a.btn-oranje:hover {
  background-color: var(--secondary-background-color);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Knop bruin */
a.btn-bruin {
  align-self: baseline;
  background-color: var(--secondary-highlight-color);
  color: var(--primary-background-color);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-bruin img {
  align-items: center;
  width: 0.9em;
}

a.btn-bruin:hover {
  background-color: var(--secondary-background-color);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Knop groen */
a.btn-groen {
  align-self: baseline;
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-groen img {
  align-items: center;
  width: 0.9em;
}

a.btn-groen:hover {
  background-color: var(--primary-highlight-color);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Knop beige */
a.btn-beige {
  align-self: baseline;
  background-color: var(--primary-background-color);
  color: var(--secondary-background-color);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-beige svg {
  align-items: center;
  width: 0.9em;
}

.btn-beige:hover path {
  fill: var(--primary-background-color) !important;
}

a.btn-beige:hover {
  color: var(--primary-background-color);
  background-color: var(--secondary-highlight-color);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Submit knop */
button.btn-verzenden {
  font-family: var(--font-paragraph);
  align-self: baseline;
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  border: none;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  width: 9em;
}

button.btn-verzenden:hover {
  background-color: var(--primary-highlight-color);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
  padding: 0.7em 1.4em;
  cursor: pointer;
}

button.btn-verzenden img {
  align-items: center;
  width: 0.9em;
}