* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* Kleuren */
  --lightgreen: #4e7141;
  --beige: #f9e9c2;
  --orange: #ff8d06;
  --brown: #491b02;
  --darkgreen: #3c593e;

  --text-off-white: #fefefe;
  --text-darkgreen: #2C402D;
  --error-red: #ff0000;

  --button-active: #ff8d06;
  --button-hover: #ff8d06;

  /* Fonts */
  --font-header: "Poppins-Black", sans-serif;
  --font-sub-header: 'Poppins-Bold', sans-serif;
  --font-paragraph: 'Poppins-Regular', sans-serif;
  --font-link: 'Poppins-Regular', sans-serif;

  /* Decoration */
  --rounded: 2em; /* Gebruiken voor ronde vormen */
}

*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--orange);
}

/* @font-face (typografie) */
@font-face {
  font-family: 'Poppins-Black';
  src: url(./fonts/Poppins-Black.ttf) format('truetype');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./fonts/Poppins-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;

}

/* Kleuren */
.kleur-beschrijving p {
  margin: 0;
  color: rgb(173, 173, 173);
  font-size: 0.9em;
}

.color1 {
  background-color: #4e7141;
}

.color2 {
  background-color: #f9e9c2;
}

.color3 {
  background-color: #ff8d06;
}

.color4 {
  background-color: #491b02;
}

.color5 {
  background-color: #3c593e;
}

.color6 {
  background-color: #fefefe;
  border: 1px solid rgb(205, 205, 205);
}

.color7 {
  background-color: #2C402D;
}

.color8 {
  background-color: #ff0000;
}

/* Heading elements */
h1 {
font-size: clamp(2.1875rem, 1.9022rem + 1.3043vw, 2.725rem);
  line-height: clamp(1.5, 4vw, 2);
  font-family: var(--font-header);
}

h2 {
  font-size: clamp(1.875rem, 1.7096rem + 0.8824vw, 2.8125rem);
  line-height: 1.5em;
  font-family: var(--font-header);
}

h3 {
  font-size: clamp(1.5625rem, 1.3971rem + 0.8824vw, 2.5rem);
  line-height: 1.5em;
  font-family: var(--font-header);
}

h4 {
  font-size: clamp(1.25rem, 1.0846rem + 0.8824vw, 2.1875rem);
  line-height: 1.5em;
  font-family: var(--font-header);
}

h5 {
  font-size: clamp(1.125rem, 0.9926rem + 0.7059vw, 1.875rem);
  line-height: 1.5em;
  font-family: var(--font-header);
}

h6 {
  font-size: clamp(1rem, 0.9007rem + 0.5294vw, 1.5625rem);
  line-height: 1.5em;
  font-family: var(--font-header);
}

/* Paragraph text element */
p {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);
}

/* List elements */
ul {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  ;
  line-height: 1.5em;
  font-family: var(--font-paragraph);
}

ol {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);
}


/* Formulier elementen */
form {
  display: grid;
  gap: 1em;
  background-color: var(--beige);
  padding: 2em;
  border-radius: var(--rounded);

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-bottom: 45px;
  }

  @media screen and (min-width: 1600px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

label {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);
  display: block;
}

input {
  background-color: var(--text-off-white);
  border: none;
  border-radius: var(--rounded);
  padding: .8em 1em;
  width: 100%;
  color: var(--darkgreen);
  margin-top: .5em;

  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);

}

/* Verzenden knop formulier */
input[type="submit"] {
  background-color: var(--lightgreen);
  color: white;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  padding: 0.7em 1.4em;
  border: none;
  border-radius: var(--rounded);
  cursor: pointer;
  width: 60%;
  transition: transform .2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: var(--orange);
  transition: transform .2s ease-in-out;
  transform: scale(1.05);
}

/* Styling fieldset */
fieldset {
  border: none;
  padding: 0;
}

fieldset input {
  accent-color: var(--darkgreen);
  width: 1.2em;
  height: 1.2em;
  margin: 0em 0.6em;
  width: 5%;
}

fieldset label {
  align-items: center;
  display: flex;
}

legend {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-paragraph);
  display: block;
  margin-bottom: 0.8em;
}

/* Knoppen */
#knoppen {
  padding: 3em 0em 3em 0em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#knoppen p {
  margin: -0.9em 0em 1em 0em;
}

/* Knoppen in alle kleuren */

/* Linkje */
a {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 1.5em;
  font-family: var(--font-link);
  color: var(--darkgreen);
}

a:hover {
  color: #ff8d06;
}

/* Knop oranje */
a.btn-oranje {
  align-self: baseline;
  background-color: var(--orange);
  color: var(--beige);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-oranje img {
  align-items: center;
  width: 0.9em;
}

a.btn-oranje:hover {
  background-color: var(--lightgreen);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Knop bruin */
a.btn-bruin {
  align-self: baseline;
  background-color: var(--brown);
  color: var(--beige);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-bruin img {
  align-items: center;
  width: 0.9em;
}

a.btn-bruin:hover {
  background-color: var(--lightgreen);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Knop groen */
a.btn-groen {
  align-self: baseline;
  background-color: var(--lightgreen);
  color: var(--beige);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-groen img {
  align-items: center;
  width: 0.9em;
}

a.btn-groen:hover {
  background-color: var(--orange);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Knop beige */
a.btn-beige {
  align-self: baseline;
  background-color: var(--beige);
  color: var(--lightgreen);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  transition: ease-in-out .2s;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
}

.btn-beige svg {
  align-items: center;
  width: 0.9em;
}

.btn-beige:hover path {
  fill: var(--beige) !important;
}

a.btn-beige:hover {
  color: var(--beige);
  background-color: var(--brown);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
}

/* Submit knop */
button.btn-verzenden {
  align-self: baseline;
  background-color: var(--lightgreen);
  color: var(--beige);
  padding: 0.7em 1.4em;
  border-radius: 100px;
  text-decoration: none;
  gap: 0.5em;
  font-weight: 600;
  align-items: center;
  display: inline-flex;
  transition: transform .2s ease-in-out;
  border: none;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  width: 9em;
}

button.btn-verzenden:hover {
  background-color: var(--orange);
  transition: transform ease-in-out .2s;
  transform: scale(1.05);
  padding: 0.7em 1.4em;
  cursor: pointer;
}

button.btn-verzenden img {
  align-items: center;
  width: 0.9em;
}