/* Generieke stijlen, waarschijnlijk hoeven jullie deze niet aan te passen */

@layer styleguide {
  html, body {
    scroll-behavior: smooth;
  }
  body {
    max-width: 40em;
    margin: auto;
    background: #fff;
  }
  nav:not([class]),
  h1:not([class]),
  h2:not([class]),
  p:not([class]),
  figcaption:not([class]) {
    font-family: sans-serif;
    line-height: 1.5;
  }
  p:not([class]) > code:not([class]) {
    display: block;
  }
  nav:not([class]) > a {
    padding: .5em;
    border: 1px solid;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  figure:not([class]) {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    > code {
      display: grid;
      place-items: center;
      border-radius: 50%;
      aspect-ratio: 1;
      background: #ccc;
    }
  }
}

/* KLEUR */
.main-color-green{
  background-color: #4e7141;
}

.main-color-beige{
  background-color: #f9e9c2;
}

.main-color-orange{
  background-color: #ff8d06;
}

.main-color-brown{
  background-color: #491b02;
  color: #f9e9c2;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: "poppins", sans-serif;
}

h1 {
  font-family: "poppins-black", sans-serif;
}

h2 {
  font-family: "poppins-bold", sans-serif;
}

h3, h4, h5, h6 {
  font-family: "poppins-medium", sans-serif;
}